<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ¿Quien Soy?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="imagen de yo" src="../../assets/Mifoto.jpeg"/>
    <ion-card-header>
      <ion-card-title>Jesus Manuel Sanchez Alfonso</ion-card-title>
      <ion-card-subtitle> Desarrollador de apps</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Estudiante de ing. Informatica del TecNM Campus Region Sierra.
      <br>
      <br>
      
      8vo. Semestre.
      
    <br>Desarrollador de apps en:
    <br>
    <br>
      - App Inventor
      <br>
      <br>
      - Ionic Framework
      <br>
      <br>
      - Android Studio
      <br>
    </ion-card-content>
  </ion-card>
</ion-content>
